* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin-top: 10px;
    padding: 10px;
}
header a {
    margin: 20px 0px 0 10px;
    padding: 10px;
    text-decoration: solid;
    border: 2px solid green;
    color: black;

}
#timer {
    position: relative;
    left: 80vw;
    top: -10px;
}
h1 {
    text-align: center;
}
#start {
    position: relative;
    left: 47vw;
    top: 50px;
}
li {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
}
#game {
    background-color: gold;
    position: relative;
    top: 100px;

}
#answers {
    background: orange;
}
#question {
    text-align: center;
}
.hidden {
    display: none;
}
#one {
    background-color: orchid;
}
#two {
    background-color: paleturquoise;
}
#three {
    background-color: pink;
}
#four {
    background-color: purple;
}
#highscores {
    background: red;
    position: relative;
    top: 200px;
}
#highscores li {
    margin: 0 auto;
}